.appTitle {
    color: #FFFFFF;
    font-weight: 700;
    margin-right: 30px;
    text-decoration: none;
    transition: 0.3s ease;
    border-top: 4px solid #407899;
    border-bottom: 4px solid #407899;
    padding: 20px 0;
}

.appTitle:hover{
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    padding: 6px 0;
}

.headLeft {
    display: flex;
    align-items: center;
}

.brandlogo {
    color: #EDF2F4;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 700;
}

@media (max-width: 414px) {
    .appTitle {
        font-weight: 700;
        margin-right: 10px;
    }
}

