.searchBar input {
    /* background-color: #405368; */
    border: none;
    border-radius: 3px;
    height: 35px;
    width: 350px;
    padding-left: 35px;
    padding-right: 10px;
    background: #E2E2E2 url(../../image/search_grey.svg) no-repeat center;
    background-size: 5%;
    background-position: 10px 7px;
    border: 1px solid white;
    margin-right: 300px;
}

.searchBar input::-webkit-input-placeholder {
    color: #6E7271;
}


.searchBar input:focus {
    outline: none;
    background: #ffffff url(../../image//magnifying-glass-black.svg) no-repeat center;
    background-size: 5%;
    background-position: 10px 7px;
}

.searchBar input:focus::-webkit-input-placeholder {
    color: #000000;
}