.searchBar input {
    /* background-color: #405368; */
    border: none;
    border-radius: 3px;
    height: 30px;
    max-width: 300px;
    padding-left: 35px;
    padding-right: 10px;
    background: #E2E2E2 url(../../image/search_grey.svg) no-repeat center;
    background-size: 5%;
    background-position: 10px 7px;
    /* border: 1px solid white; */
    margin-right: 30px;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* text-indent: .4rem; */
}

.searchBar input::-webkit-input-placeholder {
    color: #6E7271;
    /* font-size: 14px; */
}


.searchBar input:focus {
    outline: none;
    background: #ffffff url(../../image//magnifying-glass-black.svg) no-repeat center;
    background-size: 5%;
    background-position: 10px 7px;
}

.searchBar input:focus::-webkit-input-placeholder {
    color: #000000;
}

.search-group {
    /* float: left; */
    /* width: 50%; */
    box-sizing: border-box;
    padding: 2px 0 2px 0;
}

.error-message{
    color: #000000;
    /* display: inline-block; */
    /* line-height: 15px;
    margin: 5px 0 0; */
}

@media screen and (max-width: 576px) {
    .searchBar input {
        width: 200px;
        height: 25px;
    }
}

@media screen and (max-width: 480px) {
    .searchBar input {
        width: 160px;
        height: 20px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 350px) {
    .searchBar input {
        width: 120px;
        height: 20px;
        margin-right: 10px;
    }
}