.search-bar{
    width: 45%;
    height: 42px;
    margin-right: 20px;
}

.search-group{
    width: 100%;
    position: relative;
    display: flex;
}

/* .search-bar input {
    border: none;
    border-radius: 3px;
    height: 30px;
    max-width: 300px;
    padding-left: 35px;
    padding-right: 10px;
    background: #E2E2E2 url(../../image/search_grey.svg) no-repeat center;
    background-size: 5%;
    background-position: 10px 7px;
    margin-right: 30px;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */

.search-input{
     width: 100%;
     border: 3px solid #00B4CC;
     border-right: none;
     padding: 5px;
     height: 30px;
     border-radius: 5px 0 0 5px;
     outline: none;
     color: #190E4F;
     background: #ffffff;
}

.search-input:focus{
    color: #190E4F;
    background: #ffffff;
}

 .search-bar input::-webkit-input-placeholder {
    color: #6E7271;
    font-size: 10px;
}


/*.search-bar input:focus {
    outline: none;
    background: #ffffff url(../../image//magnifying-glass-black.svg) no-repeat center;
    background-size: 5%;
    background-position: 10px 7px;
}

.search-bar input:focus::-webkit-input-placeholder {
    color: #000000;
} */

.search-button{
    width: 40px;
    height: 30px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.search-group {
    /* float: left; */
    /* width: 50%; */
    box-sizing: border-box;
    padding: 2px 0 2px 0;
}

.error-message{
    color: #8AC6D0;
    font-size: 10px;
    padding-left: 5px;
}

@media screen and (max-width: 576px) {
    .search-bar {
        width: 200px;
    }
}

@media screen and (max-width: 480px) {
    .search-bar {
        width: 160px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 350px) {
    .search-bar {
        width: 120px;
        margin-right: 10px;
    }
}