/* HTML5 display-role reset for older browsers */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans+TC|Open+Sans&display=swap');

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif";
    font-family: 'Noto Sans TC',"Microsoft YaHei","黑體","宋體", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #001935; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


html,
body{
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
    font-family: 'Open Sans','Montserrat', sans-serif, 'Noto Sans TC';
    /* background-color: #DFDFDF; */
    /* background-color: #13203D; */
    /* margin: 0; */
    width: 100%;
    /* height: 100%; */
    background: linear-gradient(-45deg, #EE7752, #B24C63, #46ACC2, #23D5AB);
    background-size: 1000% 1000%;
    -webkit-animation: gradientBG 15s ease infinite;
    -moz-animation: gradientBG 15s ease infinite;
    animation: gradientBG 15s ease infinite;
}

/* @-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
} */

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

input {
    background-color: transparent;
}

input:focus {
    background-color: transparent;
    outline: none;
}

button:active{
    outline: none;
}

.container{
    margin: 0 auto 0 auto;
    max-width: 1200px;
}


.nav-container {
    margin: auto;
}

.nav-container svg {
    color: #fff;
}

