.post-bar {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 500;
    justify-content: space-evenly;
}

.post-section {
    background-color: #ffffff;
    /* height: 100px; */
    width: 85%;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 5px 0 10px 0;;
    box-sizing: border-box;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    border: 1px solid #D6DBD2;
}

.post-section img {
    position: relative;
    width: 40px;
    cursor: pointer;
    transition: top 0.5s;
}

.avatar-Pic {
    z-index: 999;
    height: 64px;
    width: 64px;
    background-color: #001935;
    display: block;
    border-radius: 3px;
    background-size: cover;
    overflow: visible;
    /* margin-right: 20px; */
    object-fit: cover;
}

.post-section img:hover {
    top: -3px
}

.icon-text {
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 15px;
}

.post-text,
.post-pic,
.post-quote,
.post-video {
    text-align: center;
    margin-top: 10px;
    line-height: 1;
}

/* .post-text,
.post-pic,
.post-quote {
    border-right: rgba(0, 0, 0, 0.3) 0.5px solid;
    padding-right: 50px;

} */

@media screen and (max-width: 950px) {
    .post-section{
        width: 80%;
    }
}

@media screen and (max-width: 705px) {
    img.avatar-Pic {
        height: 50px;
        width: 50px;
    }
}

@media screen and (max-width: 576px) {
    img.avatar-Pic {
        height: 65px;
        width: 65px;
    }
}

@media screen and (max-width: 414px)  {
    img.avatar-Pic{
        height: 50px;
        width: 50px; 
    }
    .post-section img {
        width: 35px;
    }
}    

@media screen and (max-width: 375px) {
    .post-section {
        padding: 0 0 10px 0;
    }
}

@media screen and (max-width: 320px) {
    img.avatar-Pic {
        height: 40px;
        width: 40px;
    }

    .post-section img {
        width: 30px;
    }
}