.gif-card {
    /* width: 540px; */
    background-color: #ffffff;
    height: auto;
    position: absolute;
    border-radius: 5px;
    left: 84px;
    top: 1px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    z-index: 999;
    padding: 10px 15px 15px 20px;
    box-sizing: border-box;
    left: 13%;
    width: 80%;
    margin-left: 15px;
}

.gif-section {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.gif-title {
    width: 100%;
    border: none;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    display: block;
    padding-top: 10px;
    background-color: transparent;
    padding-right: 10px;
}

.gif-section input:focus {
    outline: none;
    background-color: transparent;
}


.gif-content {
    border: none;
    line-height: 21px;
    font-size: 14px;
    width: 95%;
    height: auto;
    resize: none;
    margin-top: 20px
}

.gif-content:focus {
    outline: none;
}


.gif-btns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


