.signin-nav {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    margin-top: 15px;
}

.login-btn {
    border: 0;
    margin-right: 10px;
    padding-left: 13px;
    padding-right: 13px;
    text-align: center;
    vertical-align: top;
    /* background-color: #ffffff; */
    background-color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    color: #ffffff;
    padding: 8px 12px 8px 12px;
    border-radius: 3px;
}

.login-btn:active {
    background-color: #ffffff;
    color: #000000;
    opacity: 0.7;
    outline: none;
}



.signin-title {
    color: #ffffff;
    border: 0;
    font-size: 48px;
    vertical-align: baseline;
    margin-bottom: 10px;
    text-align: center;
}

.signin-form {
    display: inline-grid;
}

.singin-section {
    position: absolute;
    left: 50%;
    margin-left: -400px;
    position: absolute;
    top: 35%;
    width: 800px;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
}

.signin-form {
    width: 40%;
}

.singin-section input {
    width: 100%;
    padding: 11px 10px 11px 13px;
    display: block;
    margin: 0;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #d5d9dd;
}

.singin-section input:focus {
    outline: none;
}


.register-btn {
    background-color: #00b8ff;
    color: #ffffff;
    width: 100%;
    padding: 11px 10px 11px 13px;
    display: block;
    margin: 0;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
    margin-top: 10px;
}

.signin-message {
    color: #ffffff;
    text-align: center;
    padding: 14px 15px;
    font-size: 14px;
    line-height: 16px;
    background: rgba(0, 0, 0, 0.33);
    margin-bottom: 1px;
    margin-top: 10px;
}

.signup-message {
    color: #ffffff;
    text-align: center;
    padding: 14px 15px;
    font-size: 14px;
    line-height: 16px;
    background: rgba(0, 0, 0, 0.33);
    margin-bottom: 1px;
    margin-top: 10px;
}