.waterfall-card {
    /* width: 100%; */
    height: auto;
    font-size: 14px;
    background: #fff;
    padding: 15px 5px 0 5px;
    word-wrap: break-word;
    border-radius: 3px;
    margin-bottom: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    box-sizing: border-box;
    /* position: relative; */
    margin-right: 10px;
    position: relative;
}

.waterfall-card:hover{
    cursor: pointer;
    border: transparent 3px solid;
}


.user-id {
    padding-left: 20px;
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #000000;
}

.card-content {
    margin-top: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
    padding-left: 20px;
}



.post-details {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.interact-icons {
    display: flex;
}

.interact-icon {
    width: 20px;
    margin-left: 15px;
    cursor: pointer;
    z-index: 999;
}

.post-time {
    padding-left: 20px;
    font-size: 10px;
    color: #8f8f8f;
    margin-top: 5px;
}

.loading {
    color: #ffffff;
}

.reply-box {
    position: relative;
    display: inline-block;
    z-index: 999;
}

.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.quoteHere {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    line-height: 2;
    margin-top: 20px;
    font-family: 'Noto Serif TC', serif;
}


.quote-from {
    padding-left: 20px;
    font-size: 14px;
}

.body-content {
    display: grid;
}

.likeHeart2 {
    position: absolute;
    left: 80%;
}

.my-masonry-grid {
    display: -webkit-box;
    /* Not needed if autoprefixing */
    display: -ms-flexbox;
    /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px;
    padding-left: 10px;
    /* gutter size offset */
}

.my-masonry-grid_column {
    /* padding-left: 30px; */
    /* gutter size */
    /* background-clip: padding-box; */
    margin-left: 10px;
    /* border-left: 10px solid transparent; */
    background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
    /* change div to reference your elements you put in <Masonry> */
    /* background: grey;
    height: auto;
    margin-bottom: 30px; */
        background: #EDF2F4;
        padding: 10px;
        margin-bottom: 20px;
}

@media screen and (max-width: 996px) {
    .likeHeart2 {
        left: 78%;
    }

}

@media screen and (max-width: 768px) {
    .likeHeart2 {
        left: 77%;
    }
    .my-masonry-grid {
        margin-left: -10px;
    }
}