.waterfall-card {
    /* width: 100%; */
    height: auto;
    font-size: 14px;
    background: #fff;
    padding: 20px 3px 10px 3px;;
    word-wrap: break-word;
    /* border-radius: 3px; */
    /* margin-bottom: 10px; */
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    box-sizing: border-box;
    /* position: relative; */
    /* margin-right: 10px; */
    position: relative;
    animation: anim 1s ease-out 0s 1;
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

@keyframes anim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.waterfall-card:hover{
    transform: translateY(-0.5rem) scale(1.0125);
    box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
}

.post-details {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}


.loading {
    color: #ffffff;
}

.body-content {
    display: grid;
}

.likeHeart2 {
    position: absolute;
    left: 80%;
}

.my-masonry-grid {
    display: -webkit-box;
    /* Not needed if autoprefixing */
    display: -ms-flexbox;
    /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px;
    padding-left: 10px;
    /* gutter size offset */
}

.my-masonry-grid_column {
    /* padding-left: 30px; */
    /* gutter size */
    /* background-clip: padding-box; */
    margin-left: 10px;
    /* border-left: 10px solid transparent; */
    background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
    /* change div to reference your elements you put in <Masonry> */
    /* background: grey;
    height: auto;
    margin-bottom: 30px; */
    background: #EDF2F4;
    /* padding: 10px; */
    margin-bottom: 20px;
}

@media screen and (max-width: 996px) {
    .likeHeart2 {
        left: 78%;
    }

}

@media screen and (max-width: 768px) {
    .likeHeart2 {
        left: 77%;
    }
    .my-masonry-grid {
        margin-left: -10px;
    }
}